/* In your CSS or SCSS file */
.navbar-custom {
    height: 7vh;
  }
  /* Example CSS */
.dropdown-item:hover {
    background-color: #f8f9fa;
  }
  
#user-nav-dropdown::before{
 content: 'user:  ';
 
}
#user-nav-dropdown{
  border: 2px solid #a6eb28;
  padding: 4px;
  margin-right: 15px;
}
